<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
        <img alt="WedBound_Splash" class="WedBound_Splash" src="modules/core/img/brand/WedBound_Splash.png" />
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">

			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				The Easiest Way To Plan Amazing Weddings!
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="/#!/signup" target="_blank">Free Sign-Up</a>
			</p>
		</div>
	</div>
	<div class="desc">
		<h2>WedBound is your free personal wedding planner!</h2>
		<br>
		<p>We know that planning a wedding can be very time-consuming, expensive, and unpredictable. Like a good friend, we are here to help! We've done the hard work of putting technology on your side so that you can concentrate on having the best wedding day! Our free service allows you to find, book, or manage:</p><br>
		<ul>
            <li>
                Venue.
            </li>
			<li>
                Caterers.
			</li>

			<li>
				Florists.
			</li>
            <li>
                Priests.
            </li>
            <li>
                Wedding Shopping.
            </li>
			<li>
                Invitation Printers.
			</li>
            <li>
                Music &amp; Entertainment.
            </li>
            <li>
                Decorators &amp; Stage (<i>'mandap'</i>) Designers.
            </li>
		</ul>
        <br>
        ...we will even help you find a vendor who provides horses or elephants to give your wedding the royal treatment in deserves!
	</div>

</section>
